<ul class="product-tags" {{ block.shopify_attributes }}>
{%- assign parent_collection_name = collections[target_product.metafields.custom.parent_collection].title -%}
{%- assign parent_collection_handle = collections[target_product.metafields.custom.parent_collection].handle -%}
{%- case parent_collection_handle -%}
  {%- when 'management' -%}
    {%- assign styles = 'color: #ffffff; background-color: #c1b76c;' -%}
  {%- when 'online-tool' -%}
    {%- assign styles = 'color: #ffffff; background-color: #60bcdb;' -%}
  {%- when 'shopiry-theme' -%}
    {%- assign styles = 'color: #ffffff; background-color: #54c495;' -%}
  {%- when 'liquid-customize' -%}
    {%- assign styles = 'color: #ffffff; background-color: #5050b2;' -%}
  {%- when 'discount-coupon' -%}
    {%- assign styles = 'color: #ffffff; background-color: #91d85f;' -%}
  {%- when 'shopify-app' -%}
    {%- assign styles = 'color: #ffffff; background-color: #F7A301;' -%}
{%- endcase -%}
  <li style="{{ styles }}">
    <a href="{%- if localization.language.iso_code != 'ja' -%}/{{ localization.language.iso_code }}{%- endif -%}/collections/{{ parent_collection_handle }}">{{ parent_collection_name }}</a>
  </li>
</ul> 