<ul class="product-tags" {{ block.shopify_attributes }}>
{%- assign parent_collection_name = collections[target_product.metafields.custom.parent_collection].title -%}
{%- assign parent_collection_handle = collections[target_product.metafields.custom.parent_collection].handle -%}
{%- case parent_collection_handle -%}
  {%- when 'management' -%}
    {%- assign styles = 'color: #ffffff; background-color: #c1b76c;' -%}
  {%- when 'reference' -%}
    {%- assign styles = 'color: #ffffff; background-color: #60bcdb;' -%}
  {%- when 'shopiry-theme' -%}
    {%- assign styles = 'color: #ffffff; background-color: #54c495;' -%}
  {%- when 'others' -%}
    {%- assign styles = 'color: #ffffff; background-color: #999999;' -%}
  {%- when 'discount-coupon' -%}
    {%- assign styles = 'color: #ffffff; background-color: #54c495;' -%}
  {%- when 'shopify-app' -%}
    {%- assign styles = 'color: #ffffff; background-color: #F7A301;' -%}
  {%- when 'notification' -%}
    {%- assign styles = 'color: #ffffff; background-color: #e853a2;' -%}
  {%- when 'bounce-rate-reduction_and_user-journey-optimization' -%}
    {%- assign styles = 'color: #ffffff; background-color: #59a3e0;' -%}
  {%- when 'shopify-flow' -%}
    {%- assign styles = 'color: #ffffff; background-color: #54c495;' -%}
  {%- when 'ui-ux' -%}
    {%- assign styles = 'color: #ffffff; background-color: #59a3e0;' -%}
  {%- when 'product-boost' -%}
    {%- assign styles = 'color: #ffffff; background-color: #59a3e0;' -%}
  {%- when 'sales-promotion' -%}
    {%- assign styles = 'color: #ffffff; background-color: #59a3e0;' -%}
  {%- when 'seo' -%}
    {%- assign styles = 'color: #ffffff; background-color: #59a3e0;' -%}
  {%- when 'fulfillment' -%}
    {%- assign styles = 'color: #ffffff; background-color: #c1b76c;' -%}
  {%- when 'sign-up-promotion' -%}
    {%- assign styles = 'color: #ffffff; background-color: #59a3e0;' -%}
{%- endcase -%}
  <li style="{{ styles }}">
    <a href="{%- if localization.language.iso_code != 'ja' -%}/{{ localization.language.iso_code }}-{{ localization.country.iso_code | downcase }}{%- endif -%}/collections/{{ parent_collection_handle }}">{{ parent_collection_name }}</a>
  </li>
</ul> 