{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}
<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

<share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
  <button class="share-button__button hidden">
    <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
    {{ block.settings.share_label | escape }}
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="share-button__button">
      <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
      {{ block.settings.share_label | escape }}
    </summary>
    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
        <input
          type="text"
          class="field__input"
          id="ShareUrl-{{ section.id }}"
          value="{{ share_link }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden">
        <span class="svg-wrapper">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy">
        <span class="svg-wrapper">
          {{- 'icon-copy.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>

  <classic-favorite-hero-button style="display: none;" class="fh-button-wrap" data-variant_id="{{product.selected_or_first_available_variant.id}}" data-product_id="{{product.id}}" data-product_handle="{{product.handle}}" data-shop="{{shop.permanent_domain}}" data-customer="{{customer.id}}" data-accepts_marketing="{{customer.accepts_marketing}}" data-email="{{customer.email}}"><svg class="fh-button fh-button-1 fh-button-inactive" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="fh-button-icon" d="M23.3003 3.58208C22.8317 2.66547 22.1543 1.8718 21.3226 1.26508C20.491 0.658351 19.5284 0.25555 18.5125 0.0891513C17.4966 -0.0772472 16.4558 -0.00258533 15.474 0.307116C14.4923 0.616818 13.597 1.15289 12.8605 1.87211L12.0005 2.65209L11.1705 1.89211C10.4334 1.1615 9.53276 0.617121 8.54324 0.304093C7.55372 -0.0089354 6.50385 -0.0815926 5.48064 0.0921447C4.46319 0.250101 3.49835 0.649347 2.66677 1.2565C1.8352 1.86365 1.16106 2.66107 0.700736 3.58208C0.0813268 4.7922 -0.135345 6.16854 0.0823085 7.51044C0.299962 8.85234 0.940562 10.0896 1.91071 11.0419L11.2805 20.7017C11.3738 20.7985 11.4856 20.8755 11.6094 20.9281C11.7331 20.9807 11.8661 21.0078 12.0005 21.0078C12.1349 21.0078 12.268 20.9807 12.3917 20.9281C12.5154 20.8755 12.6272 20.7985 12.7205 20.7017L22.0803 11.0619C23.0538 10.1076 23.6971 8.86742 23.9165 7.522C24.136 6.17658 23.9201 4.79624 23.3003 3.58208Z" fill="#AEB4B9"/></svg><svg class="fh-button fh-button-1 fh-button-active" width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.3003 3.58989C22.8317 2.67328 22.1543 1.87961 21.3226 1.27289C20.491 0.666164 19.5284 0.263362 18.5125 0.0969638C17.4966 -0.0694347 16.4558 0.00522717 15.474 0.314929C14.4923 0.62463 13.597 1.1607 12.8605 1.87992L12.0005 2.65991L11.1705 1.89992C10.4334 1.16932 9.53276 0.624934 8.54324 0.311905C7.55372 -0.0011229 6.50385 -0.0737801 5.48064 0.0999572C4.46319 0.257914 3.49835 0.65716 2.66677 1.26431C1.8352 1.87147 1.16106 2.66888 0.700736 3.58989C0.0813268 4.80001 -0.135345 6.17635 0.0823085 7.51825C0.299962 8.86015 0.940562 10.0974 1.91071 11.0497L11.2805 20.7096C11.3738 20.8063 11.4856 20.8833 11.6094 20.9359C11.7331 20.9885 11.8661 21.0156 12.0005 21.0156C12.1349 21.0156 12.268 20.9885 12.3917 20.9359C12.5154 20.8833 12.6272 20.8063 12.7205 20.7096L22.0803 11.0697C23.0538 10.1154 23.6971 8.87524 23.9165 7.52982C24.136 6.18439 23.9201 4.80405 23.3003 3.58989Z" fill="#E57373"/></svg></classic-favorite-hero-button>
  
  {%- if localization.language.iso_code == 'ja' -%}
    <a href="/pages/contact?product-title={{ product.title }}&product-url={{ shop.url }}{{ product.url }}" 
  class="inquiry-btn" id="inquiry-button">この記事について問い合わせ</a>
  {%- elsif localization.language.iso_code == 'en' -%}
    <a href="/{{ localization.language.iso_code }}/pages/contact?product-title={{ product.title }}&product-url={{ shop.url }}{{ product.url }}" 
  class="inquiry-btn" id="inquiry-button">Contact us about this article</a>
  {%- endif -%}
</share-button>
