{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding">
  <div class="page-content">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {%- unless customer -%}
        <p>ログイン頂きますと、こちらにご購入済の商品一覧が表示されます。</p>
    {%- else -%}
        {%- assign bought_variant_ids = '' -%}
        {%- for tag in customer.tags -%}
            {%- if tag contains 'bought:' -%}
                {%- assign variant_id = tag | remove: 'bought:' -%}
                {%- assign bought_variant_ids = bought_variant_ids | append: ',' | append: variant_id -%}
            {%- endif -%}
        {%- endfor -%}bought_variant_ids:{{ bought_variant_ids }}
        {%- assign bought_variant_ids = bought_variant_ids | remove_first: ',' -%}
        {%- if bought_variant_ids.size > 0 -%}
            <ul>
            {%- for bought_variant_id in bought_variant_ids -%}
                {%- assign is_variant = false -%}
                {% for product in all_products %}
                    {%- if is_variant -%}
                        {%- break -%}
                    {%- endif -%}
                    {% for variant in product.variants %}
                        {% if variant.id == bought_variant_id %}
                            <li>
                                <a href="{{ product.url }}">{{ product.title }}</a>
                            </li>
                            {%- assign is_variant = true -%}
                            {%- break -%}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {%- endfor -%}
            </ul>
        {%- endif -%}
    {%- endunless -%}
  </div>
  </div>
</div>

{% schema %}
{
  "name": "購入済商品一覧",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
